@model IEnumerable<Orders.Models.Domains.Product>

@{
    ViewData["Title"] = "Lista produktów";
}

<h2>@ViewData["Title"]</h2>

<a href="@Url.Action("Create", "Product")" class="btn btn-primary mb-3">Dodaj nowy produkt</a>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category.Name</td>
                <td>@product.Price</td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-primary">Edytuj</a>
                    <form action="@Url.Action("Delete", "Product", new { id = product.Id })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
