@model IEnumerable<Orders.Models.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Lista kategorii";
}

<h2>@ViewData["Title"]</h2>

<a href="@Url.Action("Create", "Category")" class="btn btn-primary">Dodaj nową kategorię</a>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa kategorii</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="btn btn-primary">Edytuj</a>
                    <form action="@Url.Action("Delete", "Category", new { id = category.Id })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


